html {
    min-width: 20ch;
    background: ghostwhite;
    color: black;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

#flags {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
}
